<form class="box" action="/station/{{station._id}}/addreading" method="POST">
    <div class="columns">
        <div class="field column is-one-third">
            <label class="label">Code</label>
            <div class="control">
                <input class="input" placeholder="00" type="number" name="code">
            </div>
        </div>
        <div class="field column is-one-third">
            <label class="label">Temperature</label>
            <div class="control">
                <input class="input" placeholder="00.0C" type="number" step=0.1 name="temperature">
            </div>
        </div>
        <div class="field column is-one-third">
            <label class="label">Wind Speed</label>
            <div class="control">
                <input class="input" placeholder="00.00kMh" type="number" step=0.01 name="windSpeed">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="field column is-one-third">
            <label class="label">Wind Direction</label>
            <div class="control">
                <input class="input" placeholder="000deg" type="number" name="windDirection">
            </div>
        </div>
        <div class="field column is-one-third">
            <label class="label">Pressure</label>
            <div class="control">
                <input class="input" placeholder="000hPa" type="number" name="pressure">
            </div>
        </div>
    </div>
    <button class="button is-primary">Add Reading</button>
</form>