{{> menu active="about"}}

<section class="content box">
  <div class="columns">
    <div class="column is-half">
      <h1 class="title has-text-centered">Weather Station 2</h1>
      <h2 class="subtitle has-text-centered">
        Weather Station - Version 2
      </h2>
    </div>
    <div class="column is-half">
      <figure class="image is-square">
        <img src="../images/weather_map.png">
      </figure>
    </div>
  </div>
</section>